body{
    display: flex;
    flex-direction: column; /* Coloca cada elemento em sua linha */
    justify-content: center; /* Justifica os elementos no centro da tela */
    align-items: center; /* Alinha os elementos no centro da página */
    background-color: rgba(55, 23, 63, 0.863);
}

h1{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    text-align: center;
}

input, select, button {
    margin: 10px 0;
    padding: 8px;
    width: 200px;
  }

  /* Classes */

.valor{
    display: flex;
}

.container {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
  }

  .titulo {
    text-align: center;
    margin-bottom: 20px;
    font-size: 50px;
    color: #f5ecec;
  }


/* ID´s */

#resultado {
    width: 600px;
}